<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heldon.mapper.UserMapper">
    <select id="selectUserByUserId" parameterType="long" resultType="com.heldon.entity.User">
        select * from user where user_id = #{userId} and is_delete = 0
    </select>
    <select id="selectUserByNickname" parameterType="String" resultType="com.heldon.entity.User">
        select * from user where nickname = #{nickname}
    </select>
    <insert id="insertUser">
        insert into user (user_id, nickname, avatar, create_time) values (#{userId},#{nickname},#{avatar},#{createTime})
    </insert>
    <update id="updateAvatarByUserId">
        update user set avatar = #{avatar} where user_id = #{userId}
    </update>
    <update id="updateUserToDelete">
        update user set is_delete = true where user_id = #{userId}
    </update>
    <delete id="deleteUserDeleted">
        delete from user where is_delete = true
    </delete>
</mapper>